/* Main Container */
.home-page-container {
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.italic-text {
    font-style: italic;
    font-weight: 400;
}